/***Header Styles ***/
header {
    background-color: green;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/***Header Hover ***/
header:hover {
    background-color: lightgreen; 
}

body {
    background-color: lightskyblue;
   font-family: "tiller", sans-serif;
   font-weight: 400;
   font-style: normal;
   overflow-x: clip;
}

html {
   overflow-x: clip;
}


main {
    background-color: lightskyblue;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*** Cards Styles ***/
.card {
    background-color: white;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}
.card-1 {
    background-color: teal;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    padding: 6px;
    margin-right: -1px;
    margin-left: -1px;
/***** Padding fixed in index.html but keep the margin and padding above as well *****/
}

.card-1:hover {
    background-color: blue;
}


/***** Buttons Styles *****/
.btn {
   background-color: green;
   border-color: green;
   font-family: "tiller", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: black;
}
/****Buttons Hover ****/
.btn:hover {
        background-color: lightgreen;
        color: black;
        border-color: lightgreen;
}

