/***Header Styles ***/
header {
    background-color: lightgreen;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: lightskyblue;
   font-family: "tiller", sans-serif;
   font-weight: 400;
   font-style: normal;
}


main {
    background-color: lightskyblue;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*** Cards Styles ***/
.card {
    background-color: white;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation-name: cards; 
    animation-duration: 30s;
    color: black;
    animation-iteration-count: 1;
}
/*** Cards Animation ***/   
@keyframes cards {
    from {color: black;}
    to {color: darkblue;}
}
.card-1 {
    background-color: teal;
    font-family: "tiller", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    padding: 6px;
    margin-right: -1px;
    margin-left: -1px;
/***** Padding fixed in index.html but keep the margin and padding above as well *****/
}

.card-1:hover {
    font-weight: bold;
}


/***** Buttons Styles *****/
.btn {
   background-color: green;
   border-color: green;
   font-family: "tiller", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: black;
}
/****Buttons Hover ****/
.btn:hover {
        background-color: lightgreen;
        color: black;
        border-color: lightgreen;
}

