header {
    background-color: lightgreen;
}

main {
    background-color: lightskyblue;
}


.card {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img.dropdown-item {
    width: 5px;
    height: 5px;
    margin-right: 20px;
}

.card-1 {
    background-color: teal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 6px;
    margin-right: -1px;
    margin-left: -1px;
/***** Padding fixed in index.html but keep the margin and padding above as well *****/
}

.btn {
   background-color: green;
   text-decoration: black;
   
}